@import "../../style/main";

.luxury {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $very-dark-cyan;
  padding: 40px 40px;
  width: 20vw;
  height: 60vh;

  &-title {
    color: $very-light-gray;
    font-family: $font-title;
    font-size: $font-size-title;
    text-transform: uppercase;
  }

  &-paragraph {
    color: $transparent-white;
    font-family: $font-text;
    font-size: $font-size-paragraph;
    text-align: left;
  }
}
