@import "../../style/main";

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media only screen and (max-width: 375px) {
  .main-wrapper {
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
